.container {
    max-width: 445px;
    width: 40%;
}

.header {
    display: flex;
    align-items: center;
    grid-gap: clamp(8px, 1.2vw, 18px);
}

.header h3 {
    color: var(--font-light);
}

.header hr {
    height: 3px;
    width: 240px;
    background-color: var(--secondary);
    border: none;
}

.content {
    margin-top: 54px;
}

.entryContainer {
    margin-top: 54px;
}

.entryContainer > h5 {
    color: var(--secondary);
}

.entryContainer > a {
    width: auto;
    text-decoration: none;
}

.entryContainer h3 {
    color: var(--font-light);
}

.descriptionContainer {
    margin-top: 22px;
    width: 100%;
    height: auto;

    background: linear-gradient(to right, var(--primary), rgb(0,0,0,0));
    display: flex;
    flex-direction: column;
    grid-gap: 12px;

}

.descriptionContent {
    padding: 12px 16px;
}

.description {
    display: flex;
    grid-gap: 10px;
}

.triangle {
    margin-top: 8px;
    width: 0;
    height: 0;
    border-left: 9px solid var(--secondary);
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
}

.description > p {
    color: var(--font);
}

@media screen and (max-width: 720px) {

    .container {
        width: 100%;
        padding-top: 80px;
    }
}