@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  margin: 0;
  font-family: "Poppins";

  /* Color Pallete  */
  --primary: #48515F;
  --primary-dark: #40414D;
  --secondary: #EDC127;
  --font: #DEDEDE;
  --font-light: #FFFFFF;
}

h1 {
  font-size: clamp(60px, 4vw, 72px);
  /* font-size: 72px; */
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

.button-primary {
  border: 1px solid var(--secondary);
  background: none;
  color: var(--secondary);
  height: 50px;
  font-size: 18px;
  padding: 0px 16px;
  border-radius: 6px;
  font-weight: 300;
}